---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="padding-block-9">
  <div class="container">
    <div class="even-columns">
      <div class="block-flow">
        <h1 class="fs-primary-heading fw-bold">Bring everyone together to build better products.</h1>
        <p>
          Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals
          in view.
        </p>
        <button class="button">Get Started</button>
      </div>
      <div>
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg",
        "Decorative Hero Image", "lazy-picture fullwidth", "100vw" %}
      </div>
    </div>
  </div>
</section>
<section class="padding-block-9">
  <div class="container">
    <div class="even-columns">
      <div class="block-flow">
        <h2 class="fs-secondary-heading fw-bold">What's different about Manage?</h2>
        <p>
          Manage provides all the functionality you team needs, without complexity. Our software us tailor-made
          for modern digital product teams.
        </p>
      </div>
      <div class="block-flow">
        <ul class="numbered-list | block-flow"
            role="list">
          <li>
            <div class="block-flow"
                 style="--block-flow-spacer: 1em">
              <h3 class="fs-600 fw-bold">Track company-wide progress</h3>
              <p data-width="wide">
                See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the
                milestone level all the way done to the smallest of details. Never lose sight of the bigger
                picture again.
              </p>
            </div>
          </li>
          <li>
            <div class="block-flow"
                 style="--block-flow-spacer: 1em">
              <h3 class="fs-600 fw-bold">Advanced built-in reports</h3>
              <p data-width="wide">
                Set internal delivery estimates and track progress toward company goals. Our customisable
                dashboard helps you build out the reports you need to keep key stakeholders informed.
              </p>
            </div>
          </li>
          <li>
            <div class="block-flow"
                 style="--block-flow-spacer: 1em">
              <h3 class="fs-600 fw-bold">Everything you need in one place</h3>
              <p data-width="wide">
                Stop jumping from one service to another to communicate, store files, track tasks and share
                documents. Manage offers an all-in-one team productivity solution.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="padding-block-9">
  <div class="container">
    <div class="even-columns">
      <div class="block-flow">
        <h1 class="fs-primary-heading fw-bold">This is to test intersection observer.</h1>
        <p>
          Intersection observer is mighty cool! If you can get it right.
        </p>
        <button class="button">Intersection Observer</button>
      </div>
      <div>
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg",
        "Decorative Hero Image", "lazy-picture fullwidth", "100vw" %}
      </div>
    </div>
  </div>
</section>

<!-- The vertical bar is used to separate component class from utility class. Has no effect, only for visual purposes. -->
<section class="carousel | padding-block-8">
  <h2 class="fs-secondary-heading fw-bold">What they've said</h2>
  <!-- Carousel here -->
  <button class="button">Get Started</button>
</section>
<section class="cta | padding-block-9 bg-accent-400 text-neutral-100">
  <div class="container">
    <div class="even-columns vertical-align-center">
      <div>
        <p class="fs-primary-heading fw-bold">Simplify how your team works today.</p>
      </div>
      <div class="justify-self-end-md">
        <button class="button"
                data-type="inverted">Get Started</button>
      </div>
    </div>
  </div>
</section>
